<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />

    <link rel="stylesheet" th:href="@{/shop/css/bootstrap.min.css}" href="/static/shop/css/bootstrap.min.css">
    <script type="text/javascript" th:src="@{/shop/js/jquery-3.2.1.min.js}" src="../static/shop/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" th:src="@{/shop/js/bootstrap.min.js}"src="../static/shop/js/bootstrap.min.js"></script>
    <script th:src="@{/shop/js/holder.min.js}"src="../../static/shop/js/holder.min.js"></script>
    <script th:src="@{/shop/js/application.js}" src="../../static/shop/js/application.js"></script>
    <link rel="stylesheet" href="src/css/layui.css" th:href="@{/shop/src/css/layui.css}">
    <script src="src/layui.js" th:src="@{/shop/src/layui.js}" charset="utf-8"></script>
    <title>欧尚代购网后台</title>
    <style type="text/css">
        #register {
            width: 500px;
            margin: 50px auto;
        }
        .glyphicon-ok{
            color: green;
            font-size: 19px;
            font-weight:10 ;
        }
        .spanStyleErr{
            color: #FF0000;
        }
    </style>
    <script>
        layui.use('laydate', function(){
            var laydate = layui.laydate;

            //双控件
            laydate.render({
                elem: '#test1' //指定元素
                ,type: 'datetime'
                ,trigger: 'click'
                ,lang: 'en'
                //,lang: 'en'
                ,range: true //开启日期范围，默认使用“_”分割
                ,done: function(value, date, endDate){
                    console.log(value, date, endDate);
                }
                ,change: function(value, date, endDate){
                    console.log(value, date, endDate);
                }
            });

            //单控件
            laydate.render({
                elem: '#test2'
                //,format: 'yyyy年MM月dd日'
                //,value: new Date(1989,9,14)
                ,isInitValue: false
                ,format: 'yyyyMMdd'
                ,value: '20170910'

                //,max: 0
                //,min: '2016-10-14'
                //,max: -1
                //,value: '1989年10月14日'
                ,ready: function(date){
                    console.log(date);
                }
                ,done: function(value, date, endDate){
                    console.log(value, date, endDate);
                }
            });

            //年选择器
            laydate.render({
                elem: '#test3'
                ,type: 'year'
                //,range: true
                //,trigger: 'click'
                ,done: function(value, date, endDate){
                    console.log(value, date, endDate);
                }
                ,change: function(value, date, endDate){
                    //this.elem.val(value)
                }
            });

            //年月选择器
            laydate.render({
                elem: '#test4'
                ,type: 'month'
                ,range: true
                //,trigger: 'click'
                ,max: -30
                ,done: function(value, date, endDate){
                    console.log(value, date, endDate);
                }
                ,change: function(value, date, endDate){
                    this.elem.val(value)
                }
            });

            //时间选择器
            laydate.render({
                elem: '#test5'
                ,type: 'time'
                //,range: true
                //,trigger: 'click'
                ,min: '09:30:00'
                ,max: '17:30:00'
                ,done: function(value, date, endDate){
                    console.log(value, date, endDate);
                }
                ,change: function(value, date, endDate){
                    //this.elem.val(value)
                }
            });

            //时间范围选择器
            laydate.render({
                elem: '#test55'
                ,type: 'time'
                ,range: true
                //,trigger: 'click'
                ,done: function(value, date, endDate){
                    console.log(value, date, endDate);
                }
            });

            //同时绑定多个
            lay('.test-item').each(function(){
                laydate.render({
                    elem: this
                    ,trigger: 'click'
                });
            });

            //自定义重要日
            var ins555 = laydate.render({
                elem: '#test555'
                //,calendar: true //是否开启公历重要节日
                ,mark: { //标记重要日子
                    '0-8-15': '纪念' //0代表：每年
                    ,'0-0-15': '中旬'
                    ,'2017-8-20': '发布'
                    ,'2017-8-31': '月底'
                }
                ,done: function(value, date, endDate){
                    if(date.year == 2017 && date.month == 8 && date.date == 15){
                        //console.log('中国人民战胜日本法西斯纪念日');
                    }
                }
                ,change: function(value, date, endDate){
                    console.log(value)
                }
            });

            //墨绿主题
            laydate.render({
                elem: '#test6-1' //指定元素
                ,type: 'datetime'
                ,theme: 'molv'
                ,value: 20180115
                ,isInitValue: true
                //,range: true
                ,trigger: 'click'
            });

            //自定义背景色主题
            laydate.render({
                elem: '#test6-2' //指定元素
                ,type: 'datetime'
                ,theme: '#393D49'
                //,range: true
                ,trigger: 'click'
            });

            //格子主题
            laydate.render({
                elem: '#test6-3' //指定元素
                //,type: 'datetime'
                ,theme: 'grid'
                //,range: true
                ,trigger: 'click'
            });

            //其它元素触发
            laydate.render({
                elem: '#test6' //指定元素
                ,eventElem: '#test7' //绑定执行事件的元素
                ,lang: 'en'
            });

            //外部事件
            lay('#test9').on('click', function(e){
                laydate.render({
                    elem: '#test8'
                    ,type: 'datetime'
                    ,show: true
                    //,min: '2017-08-12 00:10:00'
                    //,max: '2017-08-12 23:10:10'
                    ,closeStop: '#test9' //点击 #test6 所在元素区域不关闭控件
                    ,change: function(value, date){
                        console.log(value, date)
                    }
                    ,done: function(value, date){
                        console.log(value, date)
                    }
                });
            });

            //直接嵌套在指定容器中
            var ins10 = laydate.render({
                elem: '#test10'
                ,position: 'static'
                ,calendar: true //是否开启公历重要节日
                ,mark: { //标记重要日子
                    '2017-8-20': ''
                    ,'2017-8-21': ''
                }
                ,done: function(value, date, endDate){
                    if(date.year == 2017 && date.month == 8 && date.date == 20){
                        ins10.hint('XX活动日');
                    }
                }
                ,change: function(value, date, endDate){
                    console.log(value)
                }
            });

            laydate.render({
                elem: '#test11'
                ,position: 'static'
                ,lang: 'en'
                ,type: 'datetime'
                ,calendar: true //是否开启公历重要节日
                ,done: function(value, date, endDate){
                    //console.log(value, date, endDate);
                }
                ,change: function(value, date, endDate){
                    console.log(value)
                }
            });
        });
    </script>
</head>
<body>
<!-- 导航栏部分 -->
<div th:replace="layout/header :: header"></div>

<!-- 页面部分 -->
<div class="row">

    <div th:replace="layout/left :: left"></div>

    <div class="panel-body"  id="register">

        <form class="form-inline"   th:action="@{/addSpikeList}"  enctype="multipart/form-data" method="post">
            <div class="form-group form-inline ce" >
                <label class="control-label">商&nbsp;&nbsp;品&nbsp;&nbsp;名:</label>
                <select name="pid" class="form-control"  >
                    <option th:each="product : ${list}" th:value="${product.pid}"><span th:text="${product.pname}"></span></option>
                </select>
            </div><br/>
            <div class="form-group form-inline ce">
                <label class="control-label"  >价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格:</label>
                <input type="text" name="price" class="form-control "  />

            </div><br/>


            <div class="form-group form-inline ce" >
                <label class="control-label">数&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;量:</label>
                <input type="text" id="details" name="number" class="form-control "   />
            </div><br/>

            <label >秒杀时间:</label>
            <div class="layui-inline" style="margin:-20px 5px">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" name="times" class="layui-input" id="test6-1">
            </div><br/>



                <div style="padding-top: 20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="submit"  class="btn btn-success" >添加</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a  class="btn btn-success" href="login.html" th:href="@{/SpikeList}">取消</a>
            </div>
        </form>
    </div>


</div>

</body>
</html>
