<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />

    <link rel="stylesheet" th:href="@{/shop/css/bootstrap.min.css}" href="/static/shop/css/bootstrap.min.css">
    <script type="text/javascript" th:src="@{/shop/js/jquery-3.2.1.min.js}" src="../static/shop/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" th:src="@{/shop/js/bootstrap.min.js}"src="../static/shop/js/bootstrap.min.js"></script>
    <script th:src="@{/shop/js/holder.min.js}"src="../../static/shop/js/holder.min.js"></script>
    <script th:src="@{/shop/js/application.js}" src="../../static/shop/js/application.js"></script>
    <title>欧尚代购网后台</title>
    <style type="text/css">
        #register {
            width: 500px;
            margin: 50px auto;
        }
        .glyphicon-ok{
            color: green;
            font-size: 19px;
            font-weight:10 ;
        }
        .spanStyleErr{
            color: #FF0000;
        }
    </style>
</head>
<body>
<!-- 导航栏部分 -->
<div th:replace="layout/header :: header"></div>

<!-- 页面部分 -->
<div class="row">

    <div th:replace="layout/left :: left"></div>

    <div class="panel-body"  id="register">

        <form class="form-inline" th:action="@{/EditProductById(pid=${product.pid})}" th:object="${product}" enctype="multipart/form-data" method="post">
            <div class="form-group form-inline ce" >
                <label class="control-label">商&nbsp;&nbsp;品&nbsp;&nbsp;名:</label>
                <input type="text" id="pname" th:value="*{pname}" name="pname" class="form-control " />
            </div>
            <div class="form-group form-inline ce">
                <label class="control-label"  >价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格:</label>
                <input type="text" th:value="*{price}" name="price" class="form-control "  />

            </div>

            <div class="form-group form-inline ce">
                <label class="control-label">图&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;片:</label>
                <input type="file" id="file" name="file"  th:value="*{image}" class="form-control "  />

            </div>

            <div class="form-group form-inline ce" >
                <label class="control-label">详&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;情:</label>
                <input type="text" id="details" name="details" class="form-control "  th:value="*{details}" />

            </div><br/>
            <div class="form-group form-inline ce" >
                <label class="control-label">热&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;门:</label>
                <select name="hot" class="form-control" th:if="*{hot==null}" >
                    <option value="0" selected="selected">否</option>
                    <option value="1" >是</option>
                </select>
                <select name="hot" class="form-control" th:if="*{hot==0}" >
                <option value="0" selected="selected">否</option>
                <option value="1" >是</option>
                </select>
                <select name="hot" class="form-control" th:if="*{hot==1}" >
                    <option value="1" selected="selected">是</option>
                    <option value="0" >否</option>
                </select>

            </div><br/>

            <div class="form-group form-inline ce" >
                <label class="control-label">库&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;存:</label>
                <input type="text" name="repertory" id="repertory" th:value="*{repertory}" class="form-control "  />
            </div><br/>

            <div class="form-group form-inline ce" >
                <label class="control-label">类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别:</label>
                <select name="cid" class="form-control" th:if="*{cid==1}" >
                    <option value="1" selected="selected">包包类</option>
                    <option value="2" >服装类</option>
                    <option value="3" >食品类</option>
                    <option value="4" >香水类</option>
                </select>
                <select name="cid" class="form-control" th:if="*{cid==2}" >
                    <option value="1" >包包类</option>
                    <option value="2" selected="selected">服装类</option>
                    <option value="3" >食品类</option>
                    <option value="4" >香水类</option>
                </select>
                <select name="cid" class="form-control" th:if="*{cid==3}" >
                    <option value="1" >包包类</option>
                    <option value="2" >服装类</option>
                    <option value="3"selected="selected" >食品类</option>
                    <option value="4" >香水类</option>
                </select>
                <select name="cid" class="form-control" th:if="*{cid==4}" >
                    <option value="1" >包包类</option>
                    <option value="2" >服装类</option>
                    <option value="3" >食品类</option>
                    <option value="4" elected="selected" >香水类</option>
                </select>
            </div><br/>

            <div class="form-group form-inline ce" >
                <label class="control-label">货&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;源:</label>
                <input type="text" name="source" id="source" th:value="*{source}"  class="form-control "  />
            </div><br/>
            <div class="form-group form-inline ce" >
                <label class="control-label">批&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发:</label>

                <select name="wholesale" class="form-control" th:if="*{wholesale==null}" >
                    <option value="0" selected="selected">否</option>
                    <option value="1" >是</option>
                </select>
                <select name="wholesale" class="form-control" th:if="*{wholesale==0}" >
                    <option value="0" selected="selected">否</option>
                    <option value="1" >是</option>
                </select>
                <select name="wholesale" class="form-control" th:if="*{wholesale==1}" >
                    <option value="1" selected="selected">是</option>
                    <option value="0" >否</option>
                </select>

            </div><br/>
            <div class="form-group form-inline ce" >
                <label class="control-label">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;费:</label>
                <input type="text" id="postage" name="postage"  th:value="*{postage}" class="form-control " />
                <span id="tels" class="spanPhone"></span>
            </div><br/>
            <div class="form-group form-inline ce" >
                <label class="control-label">税&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;费:</label>
                <input type="text" name="taxation" id="taxation" th:value="*{taxation}" class="form-control "  />
            </div><br/>



            <div style="padding-top: 20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="submit"  class="btn btn-success" >修改</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn btn-success"  th:href="@{/adminProductList}">取消</a>
            </div>
        </form>

    </div>


</div>

</body>
</html>
