<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  >
<head>
    <link rel="stylesheet" th:href="@{/shop/css/bootstrap.min.css}" href="../static/shop/css/bootstrap.min.css">
    <script type="text/javascript" th:src="@{/shop/js/jquery-3.2.1.min.js}" src="../static/shop/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" th:src="@{/shop/js/bootstrap.min.js}"src="../static/shop/js/bootstrap.min.js"></script>
    <script th:src="@{/shop/js/holder.min.js}"src="../static/shop/js/holder.min.js"></script>
    <script th:src="@{/shop/js/application.js}" src="../static/shop/js/application.js"></script>
    <title>欧尚代购网后台</title>
</head>
<body>
<div >
    <div th:replace="layout/header :: header"></div>
    <div th:replace="layout/left :: left"></div>
</div>
</body>
</html>