<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>商品列表</title>
		<link rel="stylesheet" th:href="@{/shop/css/bootstrap.min.css}"  href="../static/shop/css/bootstrap.min.css " />
		<script type="text/javascript" th:src="@{/shop/js/jquery-3.2.1.min.js}" src="../static/shop/js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" th:src="@{/shop/js/bootstrap.min.js}"src="../static/shop/js/bootstrap.min.js"></script>
		<link rel="stylesheet" th:href="@{/shop/css/common.css}" href="../static/shop/css/common.css" />
	    <style type="text/css">
	    	.detail{
	    		width: 1000px;
	    		margin: auto;
	    	}
			.copyright {
				line-height: 30px;
				margin-top: 50px;
				margin-bottom: 10px;
				color: #555555;
				text-align: center;
			}
	    </style>
		<script type="text/javascript">
            function jia() {
                var zhi = document.getElementById("zhi");
                zhi.value=parseInt(zhi.value)+1;
            }
            function jian() {
                var zhi1 = parseInt(document.getElementById("zhi").value);
                var zhi = document.getElementById("zhi");
                if(zhi1>0){
                    zhi.value=parseInt(zhi.value)-1;
                }else {
                    alert("不可以小于0");
                }

            }
		</script>
	</head>
	<body>
	<div th:replace="layout/footer :: footer"></div>
		 
		 <div class="container">
			<div class="row">
				<div style="border: 1px solid #e4e4e4;width:1000px;margin-bottom:10px;margin:0 auto;padding:10px;margin-bottom:10px;" th:switch="${product.cid}">
					<a href="#" th:href="@{/index}">首页&nbsp;&nbsp;&gt;</a>
					<a href="#" th:href="@{/findProductByCid (cid=1)}" th:case="1">包包类&nbsp;&nbsp;&gt;</a>
					<a href="#" th:href="@{/findProductByCid (cid=2)}" th:case="2">食品类&nbsp;&nbsp;&gt;</a>
					<a href="#" th:href="@{/findProductByCid (cid=3)}" th:case="3">服装类&nbsp;&nbsp;&gt;</a>
					<a href="#" th:href="@{/findProductByCid (cid=4)}" th:case="4">香水类&nbsp;&nbsp;&gt;</a>
					<a><span th:text="${product.pname}"></span></a>
				</div>
          </div>




				<div class="row" style="margin:0 auto;width:1000px;">
					<div class="col-md-6">
						<img style="opacity: 1;width:400px;height:350px;" title="" class="medium" th:src="@{${product.image}}">
					</div>

					<div class="col-md-6">
						<div><strong th:text="${product.details}"></strong></div>
						<div style="border-bottom: 1px dotted #dddddd;width:350px;margin:10px 0 10px 0;">
							<div>编号： <span th:text="${product.pid}"></span>  &nbsp;&nbsp;&nbsp;&nbsp;  库存： <span th:text="${product.repertory}" ></span></div>
						</div>

						<div style="margin:10px 0 10px 0;">售价: <strong style="color:#ef0101;" th:text="${'￥'+product.price}"></strong>元
							<div th:if="${product.wholesale}==1"  style="margin:10px 0 10px 0;">			满12件每件批发价:<strong style="color:#ef0101;">￥</strong><strong style="color:#ef0101;" th:text="${product.price}*0.5"></strong>
							</div>
						</div>

						<div style="margin:10px 0 10px 0;">商品税费：<strong style="color:#ef0101;" th:text="${'￥'+product.taxation}" ></strong>元&nbsp; &nbsp; &nbsp; 商品邮费：<strong style="color:#ef0101;"  th:text="${'￥'+product.postage}"></strong> 元 </div>

						<div style="margin:10px 0 10px 0;"> 出产地：<span th:text="${product.source}"></span> </div>

						<div style="padding:10px;border:1px solid #e7dbb1;width:330px;margin:15px 0 10px 0;;background-color: #fffee6;">
							<div style="margin:5px 0 10px 0;"><br></div>

						<form th:action="@{/addCart(pid=${product.pid})} " method="post">
							<div style="border-bottom: 1px solid #faeac7;margin-top:20px;padding-left: 10px;" class="form-group form-inline ce">
								购买数量:
								<input class="form-control " type="button" value="-" onclick="jian()">
								<input class="form-control " style="width: 43px;" id="zhi" type="text" name="number" value="1" >
								<input class="form-control " type="button" value="+" onclick="jia()">

							<div style="margin:20px 0 10px 0;;text-align: center;">
								<a href="#" th:if="${session.user}==null" th:href="@{/loginMain}">
									<input style="background: url('./images/product.gif') no-repeat scroll 0 -600px rgba(0, 0, 0, 0);height:36px;width:127px;" value="加入购物车" type="button">
								</a>
								<a href="#" th:if="${session.user}!=null" >
									<input style="background: url('./images/product.gif') no-repeat scroll 0 -600px rgba(0, 0, 0, 0);height:36px;width:127px;" value="加入购物车" name="channel" type="submit">
								</a>

								<a href="#" th:href="@{/loginMain}" th:if="${session.user}==null">
									<input style="background: url('./images/product.gif') no-repeat scroll 0 -600px rgba(0, 0, 0, 0);height:36px;width:127px;" value="立即购买"  type="button">
								</a>
								<a href="#" th:if="${session.user}!=null">
									<input  style="background: url('./images/product.gif') no-repeat scroll 0 -600px rgba(0, 0, 0, 0);height:36px;width:127px;" value="立即购买" name="channel" type="submit">
								</a>

							</div>
						</div>
						</form>



					</div>
				</div>

			
		</div>
		<div class="copyright">
			<span>Copyright © 2018-2019 欧尚会代购物 版权所有</span>
		</div>
		 
	</body>
</html>
